<div class="card text-center">
    <div class="card-header">
        What are you looking for ?
    </div>
    <div class="card-body">
        <div class="box">
            <a routerLink="/eat">
                <img src="../../assets/img/burrito.jpg" alt="burrito picture">
                <div class="text">
                    <h1>Food</h1>
                </div>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="box">
            <a routerLink="/drink">
                <img src="../../assets/img/beer.jpg" alt="beer picture">
                <div class="text">
                    <h1>Drinks</h1>
                </div>
            </a>
        </div>
    </div>
    <!-- <div class="card-footer text-muted">
        Some footer
    </div> -->
</div>