<h1 class="title">Overview of Queues</h1>
<table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Stand Overview</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Pizza Food Truck - LIVE FEED</td>
            <td class="time"> {{ queue1 }} </td>
          </tr>
          <tr>
            <td>Burgers</td>
            <td class="time"> {{ queue2 }} </td>
          </tr>
          <tr>
            <td>Healty salad bar</td>
            <td class="time"> {{ queue3 }} </td>
          </tr>
        </tbody>
      </table>

      <button type="button" class="btn btn-info" routerLink="/home">back</button>