.title{
    color: #fff;
    padding: 1%;
    font-weight: normal;
    text-align: center;
    font-size: xx-large;
    background-color: #17a2b8;
    margin-bottom: 0;
}
.table .thead-dark th {
    color: black;
    background-color: #fff;
    border-color:#dee2e6;
    font-weight: normal;
    width: 100%;
}

.time{
    float: right;
    width: 100%;
}

.btn.btn-info{
    margin-right: 3%;
    float: right;
}