<h1 class="title">Overview of Queues</h1>
<table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Stand Overview</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Beers & Co</th>
            <td class="time"> {{ queue4 }}</td>
          </tr>
          <tr>
            <th scope="row">Fountain drinks</th>
            <td cl ass="time" id="item5"> {{ queue5 }}</td>
          </tr>
          <tr>
            <th scope="row">Cocktail bar</th> 
            <td class="time">{{ queue6 }}</td>
          </tr>
        </tbody>
      </table>

      <button type="button" class="btn btn-info" routerLink="/home">back</button>